.DS_Store
node_modules
.tmp
npm-debug.log
builds/production/images/**
**.css.map
images-working
builds/development/css/style.css
notes.txt
notes/*
_notes/*
delete.html
delete.txt

#Video
**/exports-high/
**/*Previews/
**/*Auto-Save/
**/*AME/

#Temporary files
*.idlk #indesign

/design assets

/live-theme/config.yml
/backup-20170713.zip
