<div class="arrow-left">
	<svg version="1.1" x="0px" y="0px"
		 width="122.576px" height="37.803px" viewBox="0 0 122.576 37.803" enable-background="new 0 0 122.576 37.803"
		 xml:space="preserve">
	<path id="left-arrow-path" fill="#{{color}}" d="M48.422,36.644c0.076,0.023,0.153,0.045,0.229,0.068c1.435,0.423,2.03-1.783,0.616-2.231
		c-6.461-2.047-12.92-4.093-19.381-6.14c-0.791-0.251-1.583-0.502-2.375-0.753c-4.624-1.731-9.277-3.38-13.973-4.904
		c17.288,0.737,34.655,0.615,51.944,0.863c18.538,0.265,38.067,2.126,56.341-1.643c1.061-0.219,0.778-1.812-0.248-1.838
		c-6.895-0.167-13.789-0.323-20.682-0.473c6.888-0.262,13.775-0.549,20.662-0.89c1.353-0.067,1.368-2.161,0-2.117
		c-21.934,0.714-43.867,1.399-65.802,2.078c-3.218,0.051-6.437,0.098-9.655,0.135c-12.051-0.062-24.103-0.035-36.161,0.122
		c1.027-0.345,2.053-0.69,3.078-1.042c11.371-3.201,22.907-6.63,33.45-11.557c0.224-0.105,0.061-0.437-0.163-0.386
		c-0.606,0.14-1.21,0.293-1.814,0.444c1.718-0.642,3.436-1.284,5.156-1.921c1.105-0.409,0.654-2.175-0.494-1.791
		c-6.339,2.12-12.676,4.255-19.008,6.404c1.974-0.818,3.952-1.623,5.936-2.415c4.076-1.557,8.151-3.1,12.19-4.685
		c1.165-0.457,0.681-2.352-0.526-1.908c-4.631,1.702-9.232,3.479-13.81,5.314c-9.753,3.733-19.492,7.58-28.764,12.311
		c-0.996,0.351-1.996,0.695-2.992,1.048c-0.459,0.161-0.683,0.525-0.72,0.903c-0.031,0.018-0.063,0.033-0.094,0.05
		c-0.089,0.049-0.159,0.108-0.221,0.173c-0.204,0.099-0.41,0.193-0.615,0.294c-1.09,0.527-0.321,2.252,0.815,1.931
		c0.28-0.079,0.537-0.167,0.784-0.262C2.054,21.9,1.996,21.98,1.952,22.072c-0.713-0.014-0.946,1.102-0.172,1.365
		c0.225,0.076,0.451,0.149,0.676,0.226c0.058,0.026,0.109,0.063,0.176,0.079c0.065,0.014,0.129,0.03,0.194,0.045
		c13.7,4.649,27.527,8.93,41.243,13.528c0.447,0.15,0.842-0.039,1.095-0.355c0.632,0.253,1.264,0.504,1.895,0.757
		C47.893,38.05,48.433,37.357,48.422,36.644 M109.25,21.522c-5.542,0.329-11.108,0.304-16.675,0.228
		c-9.547-0.131-19.095-0.267-28.643-0.366c-5.442-0.057-10.892-0.151-16.343-0.243c3.808-0.127,7.617-0.254,11.425-0.382
		C75.765,20.797,92.515,21.018,109.25,21.522"/>
	</svg>
</div>
