<!-- snippets/icon.liquid -->
<span class="icon" aria-hidden="true">
  {% case icon %}
  {% when 'menu' %}
    <i class="fa fa-bars"></i>
  {% when 'cart' %}
    <i class="fa fa-shopping-cart"></i>
  {% when 'twitter' %}
    <i class="fa fa-twitter"></i>
  {% when 'facebook' %}
    <i class="fa fa-facebook"></i>
  {% when 'instagram' %}
    <i class="fa fa-instagram"></i>
  {% when 'youtube' %}
    <i class="fa fa-youtube"></i>
  {% when 'pinterest' %}
    <i class="fa fa-pinterest"></i>
  {% when 'vimeo' %}
    <i class="fa fa-vimeo"></i>
  {% else %}
    <!-- No icon found -->
    {{ icon | capitalize }}
  {% endcase %}
</span>
