<!-- /snippets/popup-home.liquid -->

<div id="PopupHome" class="popup overlay medium">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="popup-content left">
        <a href="" class="popup-close"><i class="fa fa-times"></i></a>
        <div class="h2 text-center">More Info</div>
        <hr>
        <div class="column s12 m4 l4 text-center">
          <h3><i class="fa fa-truck fa-4x"></i></h3>
          <p>Lorem ipsum dolor sit amet, $X.00 Shipping</p>
        </div>
        <div class="column s12 m4 l4 text-center">
          <h3><i class="fa fa-diamond fa-4x"></i></h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="column s12 m4 l4 text-center">
          <h3><i class="fa fa-star fa-4x"></i></h3>
          <p>Lorem ipsum dolor sit amet. More Info</p>
        </div>
      </div>
  </div>
</div>
