<!-- /snippets/popup-cart.liquid -->

{% comment %}
  The popup cart has been added to display the opportunities for displaying the
  cart contents on any page
{% endcomment %}

<div id="PopupProductsQuality" class="popup overlay medium">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="popup-content left">
        <a href="" class="popup-close"><i class="fa fa-times"></i></a>
        <div class="h2">Une chaussette de qualite</div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>
</div>

<div id="PopupProductsInstructions" class="popup overlay medium">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="popup-content left">
        <a href="" class="popup-close"><i class="fa fa-times"></i></a>
        <div class="h2">Mode D'Emploi</div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>
</div>

<div id="PopupProductsRange" class="popup overlay medium">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="popup-content left">
        <a href="" class="popup-close"><i class="fa fa-times"></i></a>
        <div class="h2">Taille et pointure</div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>
</div>

<div id="PopupCalculator" class="popup overlay medium">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="popup-content left">
        <a href="" class="popup-close"><i class="fa fa-times"></i></a>
        <div class="h2">Taille et pointure</div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>
</div>
