<!-- /snippets/popup-cart.liquid -->

{% comment %}
  The popup cart has been added to display the opportunities for displaying the
  cart contents on any page
{% endcomment %}

<div id="PopupProductsQuality" class="popup overlay medium">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="popup-content left">
        <a href="" class="popup-close"><i class="fa fa-times"></i></a>
        <div class="h2">Une chaussette de qualité</div>
        <hr>
        <p>Nos chaussettes sont fabriquées en France par des gens passionnés avec un savoir-faire unique.
          Nos chaussettes sont faites de 80% coton, 18% polyester et 2% élasthane. Ce mélange leur confère une bonne élasticité, nous permettant de simplifier les tailles et d'obtenir un confort optimal et une bonne résistance.
          Enfin, nos chaussettes françaises sont certifiées Oeko-tex 100, ce qui nous permet de vous assurer que nos chaussettes ont été confectionnées sans produits toxiques pour le corps ou pour l'environnement.</p>
      </div>
  </div>
</div>

<div id="PopupProductsInstructions" class="popup overlay medium">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="popup-content left">
        <a href="" class="popup-close"><i class="fa fa-times"></i></a>
        <div class="h2">Mode D'emploi</div>
        <hr>
        <p>Pour choisir et acheter vos chaussettes, il vous suffit de naviguer via les flèches pour changer la couleur, de choisir votre taille S, M ou L et de jouer avec le curseur pour choisir combien de grammes de chaussettes il vous faut.</p>
      </div>
  </div>
</div>

<div id="PopupProductsRange" class="popup overlay medium">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="popup-content left">
        <a href="" class="popup-close"><i class="fa fa-times"></i></a>
        <div class="h2">Taille et pointure</div>
        <hr>
        <p>Afin de vous simplifier toujours plus la vie, nous avons simplifié les tailles pour n'en garder que 3. La taille S correspond aux pointures allant du 30 au 35, le M du 35 au 40 et le L pour les pointures allant du 40 au 45.</p>
      </div>
  </div>
</div>

<div id="PopupCalculator" class="popup overlay medium">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="popup-content left">
        <a href="" class="popup-close"><i class="fa fa-times"></i></a>
        <div class="h2">Taille et pointure</div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>
</div>
