<!-- /snippets/theme-footer.liquid -->

<footer class="theme-footer" role="contentinfo">
  <div class="payment-icons">
    {% if settings.enable_gateway_icons %}
      {% include 'payment-gateways' %}
    {% endif %}
    &copy; {{ 'now' | date: "%Y" }} Quintus Hortus
  </div>

  {% include 'theme-nav-footer' %}
</footer>
