<!-- /templates/index.liquid -->
{% layout 'fullpage' %}
<div class="section">
  <div class="slide slide1 home">
    <div class="fixed-bg-image" style="background-image: url({{'bg-homepage.jpg' | asset_url }})"></div>
    <div class="row">
      <div class="leftSide column s12 m6 l6">
        <img src="{{'bg-homepage.jpg' | asset_url }}" alt="" style="display: none;">
      </div>
      <div class="rightSide column s12 m6 l6 xl4">
          <img class="white-logo" src="{{ 'qh-logo-white.svg' | asset_url }}" alt="" style="margin-bottom: 10px;">
          <h2 class="h1">Chaussettes cultivees en France dans notre potager pour vous</h2>
          <p style="font-size: 1.25rem;">Une personne perdrait en moyenne 1 000 chaussettes dans sa vie. Alors imaginez pour une famille nombreuse… Quintus & Hortus vous invite à repenser votre manière d’acheter vos chaussettes.</p>
          {{ content_for_index }}
          <ul class="inline" style="margin-top: 10px;">
            <li><a href="/pages/le-concept" class="button">Le concept</a></li>
            <li><a href="/products/carrot" class="button">Découvrez nos chaussettes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
