<!-- /templates/index.liquid -->
{% layout 'theme' %}
<div class="section">
  <div class="slide slide1 home">
    <div class="fixed-bg-image" style="background-image: url({{'bg-homepage.jpg' | asset_url }})"></div>
    <div class="row">
      {% comment %} <div class="leftSide column s12 m6 l6">
        <img src="{{'bg-homepage.jpg' | asset_url }}" alt="chaussettes francaises" style="display: none;">
      </div> {% endcomment %}
      <div class="rightSide column s12 m10 l8" style="float: none;margin: 0 auto;text-align: center; color: #fff;">
          <img class="white-logo" src="{{ 'qh-logo-white.svg' | asset_url }}" alt="logo Quintus & Hortus" style="    display: inline-block;; margin-bottom: 10px;">
          <h1 class="h1">Cultivateur de chaussettes françaises</h1>
          <p style="font-size: 1.05rem;">Chez Quintus et Hortus, on achète ses chaussettes comme on achète des fruits et légumes. Et les couleurs de nos chaussettes nous y font d’ailleurs penser.
            Mais attention : quand on parle de légumes, on pense surtout à des produits de qualité, repérés sur les marchés des meilleurs producteurs. Et pour nos chaussettes, c’est pareil : ce sont des <strong>chaussettes françaises</strong> cultivées et récoltées avec amour dans notre potager.</p>
          {{ content_for_index }}
          <ul class="inline" style="margin-top: 10px;">
            <li><a href="/pages/le-concept" class="button">Le concept</a></li>
            <li><a href="/products/carrot" class="button">Découvrez nos chaussettes</a></li>
            <li><a href="#" class="button popup-link" data-popup="#PopupHome" >Specials</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
