{% layout 'fullpage' %}
<div class="section section1">
  <div class="slide center">
    <div class="slide-inner">
      <label for="">Question 1</label>
      <input type="text" name="" value="">
    </div>
  </div>
</div>
<div class="section section2">
  <div class="slide center">
    <div class="slide-inner">
      <label for="">Question 2</label>
      <input type="text" name="" value="">
    </div>
  </div>
</div>
<div class="section section2">
  <div class="slide center">
    <div class="slide-inner">
      <label for="">Question 3</label>
      <input type="text" name="" value="">
    </div>
  </div>
</div>
<div class="section section2">
  <div class="slide center">
    <div class="slide-inner">
      <label for="">Question 4</label>
      <input type="text" name="" value="">
    </div>
  </div>
</div>
