<!-- /templates/product.liquid -->
{% layout 'fullpage' %}

{% include 'product-view' %}

<div class="section">
  <h2 class="s-hide" style="text-transform: uppercase; position: fixed; top: 20vh; width: 100%; left: 0;     text-align: center; z-index: 9; padding: 0 40px;">nous recoltons nos chaussettes avec le plus grand soin</h2>

  {% include 'product-loop-sorted' %}
  
</div>
<div class="product-side">
  <ul class="vertical menu simple">
    <li>
      <div class="label">Une chaussette de qualite</div>
      <a href="#" class="button alternate popup-link" data-popup="#PopupProductsQuality"><i class="fa fa-2x fa-diamond"></i></a>
    </li>
    <li>
      <div class="label">Mode D'Emploi</div>
      <a href="#" class="button alternate popup-link" data-popup="#PopupProductsInstructions"><i class="fa fa-2x fa-question"></i></a>
    </li>
    <li>
      <div class="label">Taille et pointure</div>
      <a href="#" class="button alternate popup-link" data-popup="#PopupProductsRange"><i class="fa fa-2x fa-arrows-h"></i></a>
    </li>
    <li>
      <div class="label">COMBIEN DE CHAUSSETTES ME FAUT-IL</div>
      <a href="#" class="button alternate popup-link" data-popup="#PopupCalculator"><i class="fa fa-2x fa-calculator"></i></a>
    </li>
  </ul>
</div>

<input type="hidden" class="MoneyFormat" name="" value="{{ shop.money_format }}">

{% include 'popup-product-details' %}
