<!-- /templates/product.liquid -->
{% layout 'fullpage' %}


{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}


{% assign textColor = '#000' %}

{% for tag in product.tags %}
    {% if tag contains 'color-' %}
    {% capture colorTag %}{{ tag | remove: 'color-' }}{% endcapture %}
    {% endif %}
    {% if tag contains 'white' or tag contains 'yellow' %}
    {% assign textColor = 'inherit' %}
    {% endif %}
{% endfor %}

<div class="product-nav">
  <a href="#" class="fp-prev">
    {% include 'arrow-left.svg' %}
  </a>
  <a href="#" class="fp-next">
    {% include 'arrow-right.svg' %}
  </a>
</div>

<div class="section">
  {% include 'product-loop-sorted' %}
  {% include 'product-view' %}
</div>
<div class="product-side">
  <ul class="vertical menu simple">
    <li>
      <div class="label">Une chaussette de qualite</div>
      <a href="#" class="button alternate popup-link" data-popup="#PopupProductsQuality"><i class="fa fa-2x fa-diamond"></i></a>
    </li>
    <li>
      <div class="label">COMBIEN DE CHAUSSETTES ME FAUT-IL</div>
      <a href="/pages/combien-de-chaussettes" class="button alternate"><i class="fa fa-2x fa-calculator"></i></a>
    </li>
    <li>
      <div class="label">Taille et pointure</div>
      <a href="#" class="button alternate popup-link" data-popup="#PopupProductsRange"><i class="fa fa-2x fa-arrows-h"></i></a>
    </li>
    <li>
      <div class="label">Mode D'Emploi</div>
      <a href="#" class="button alternate popup-link" data-popup="#PopupProductsInstructions"><i class="fa fa-2x fa-question"></i></a>
    </li>
  </ul>
</div>

<input type="hidden" class="MoneyFormat" name="" value="{{ shop.money_format }}">

{% include 'popup-product-details' %}
