<!-- /sections/password-header.liquid -->

<header class="theme-header" role="banner">

      <div class="h1 logo" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      {% if settings.logo_use_image %}
        <a href="/" itemprop="url">
          <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
        </a>
      {% else %}
        <a href="/" itemprop="url">{{ shop.name }}</a>
      {% endif %}
      </div>

  <div class="border">
    <div class="left"></div>
    <div class="right"></div>
    <div class="bottom"></div>
    <div class="top"></div>
  </div>
</header>
